.projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
}
.project {
  padding: 1rem;
  background-color: var(--background);
  color: var(--text-color);
  border-top: 1px solid black;
  transition: all 0.1s ease-in-out;
}
.projectBody {
  align-items: start;
  display:flex;
  flex-direction:row;
  justify-content: start;
  padding:0;
}
.projectTitle{
  justify-content: right;
}
.textBody{
  gap:1rem;
  font-size: 1.5rem;
  display: flex;
  padding-left: 1rem;
  flex-direction: column-reverse;
  align-items: space-between;
  justify-items:start;
}
.projectLink {
  margin: 1rem;
}
.project:hover {
  transform: scale(1.05);
  background-color: var(--background-secondary);
}
.projectLink:hover {
  text-decoration: underline;
  width: fit-content;
}
.projectImage {
  display: flex;
  justify-self: center;
  height: 20rem;
  aspect-ratio: 1;
  object-fit:fill;
}

@media (max-width: 900px) {
  .projects{
    padding: 0rem;
  }
  .textBody{
    font-size: 1rem;
    padding:1rem 0;
  }
  .projectBody{
    flex-direction: column;
  }
}
