.heroWrapper {
    justify-self: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 7.5rem;
    gap:2rem;
  }
  .heroText{
      font-size: 2rem;
  }
  .heroImg{
      min-width:35%;
      max-width:40%;
      border-radius:50%;
      transition: all .2s;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: top;
  }
  
  @media (max-width: 900px){
      .heroWrapper{
          flex-direction:column;
          justify-content:center;
          align-items:center;
      }
      .heroImg{
          min-width:75%;
      }
      .heroText{
          font-size:1.25rem;
      }
  }