.contact{
    display:flex;
    flex-direction:column;
    bottom:0;
    justify-content: center;
    align-items:center;
    width:100%;
    padding:1.5rem;
    background-color:var(--background-secondary);
    color:var(--text-color);
    gap:1rem;
}
.contactLink:hover{
    color:cyan;
    transform:scale(1.05);
    transition: ease-in-out .05s;
    text-decoration: underline;
}
.contactInfo{
    display:flex;
    flex-direction: row;
    gap:.5rem;
}