.projects{
    align-items:center;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    max-width:100%;
    height:100%;
    z-index: 0;
    color:var(--text-color);
    background-color:var(--background);;
    margin:3rem;
}
.project{
    align-items:center;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: space-between;
    margin: 0rem 1rem 0rem 1rem;
    max-height:70%;
    min-width:30%;
    padding: 1.5rem;
    transition: all .2s;
    min-height:fit-content;
    z-index: -1;
    background-color:var(--background);

}
.project:hover{
    transform: scale(1.05);
    background-color:var(--background-secondary);
}
.projectImg{
    width:100%;
    max-height: 30%;
    aspect-ratio: 1;
    border-radius:3%;
    object-fit:cover;
}
.projectPageLink:hover{
    text-decoration: underline;
}
.projectsContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.pageLink{
    justify-self:center;
    align-self: center;
    border-radius: .3rem;
    color: var(--text-color);
    border: 1px solid var(--foreground-secondary);
    background-color: var(--background-secondary);
    padding:.5rem;
    transition:all ease-in-out .1s;
}
.pageLink:hover{
    transform: scale(1.1);
    border-color:blue;
}

@media (max-width: 900px){
    .projects{
        align-items: center;
        text-align:center;
        justify-self: center;
        justify-content: center;
        display:flex;
        flex-direction:column;
        max-width:100%;
        gap:4rem;
        margin:1rem;
    }
    .project{
        width:100%;
        max-height:30%;
        padding:1rem;
    }
    .projectImg{
        max-height:60%;
    }
}
@media (min-width: 900px){
    .project{
        min-height: 100%;
    }
}
